.App{
    background-image: url("./Component/tablet.jpg");
    background-size: cover ;
    height: 705px;
    position: relative;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 60px;
}

.stateful-content{
    position:absolute;
    bottom: 100px;
    right: 610px
}

.timer-button{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin :0 25px;
    width: 100px;
    height: 50px;
    font-size : 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

.timer-button:hover{
    background-color: #C4C400;
    color:white;
}

.timer-content{
    width : 310px;
}